p.detailsHide{
  display: none;
  width: 250px;
  length: auto;
  text-decoration: underline;
}

p.detailsShow{
  width: 250px;
  length: auto;
  text-decoration: underline;
}

.art{
  width: 200px;
  height: 300px;
  display: inline-block;
  background-size: cover;
  border: thick solid black;
}
